/** CSS-animations **/

.active {
    transform: scale(1.5, 2);
}
.hovered {
    transform: scale(1.2);
}
.unhovered {
    transform: scale(1);
}
.animate-bg {
    background-color: $colorLight;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
@keyframes changeColor {
    0% {
        color: #555;
    }
    100% {
        color: $colorMain;
    }
}
@keyframes readyBtn {
    0% {
        border: 2px solid $colorLight;
        color: $colorLight;
    }
    100% {
        border: 2px solid $colorSecondary;
        color: $colorSecondary;
    }
}
@keyframes openCover {
    0% {
        height: 0;
        opacity: 0.2;
    }
    100% {
        height: 100%;
        opacity: 1;
    }
}
@keyframes animateBtn {
    0% {
        color: $colorLighter;
    }
    100% {
        color: $colorSecondary;
    }
}
