.underline {
    margin: 0 auto;
    border-bottom: 11px solid $colorPrimary;
    width: 35px;
}

h2 {
    text-align: center;
    font-family: $fontSecondary;
    font-size: 260%;
    font-weight: 500;
    padding-bottom: 3px;
    -webkit-font-smoothing: antialiased;
}

.description {
    font-size: 115%;
    margin: 1.6em 4vw 1.5em 4vw;
    @include flexbox(column, center, center);
}

a:active,
a:link,
a:visited {
    text-decoration: none;
}
