.underline {
    margin: 0 auto;
    border-bottom: 1.1vh solid $colorPrimary;
    width: 4vh;
}

h2 {
    text-align: center;
    font-family: $fontSecondary;
    font-size: 260%;
    /* font-variant: small-caps; */
    font-weight: 500;
    margin-bottom: 2vh;
    padding-bottom: 0.5vh;
    -webkit-font-smoothing: antialiased;
}

section {
    padding: 2vw 2vw 2vw 2vw;
}

.description {
    font-size: 115%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:active,
a:link,
a:visited {
    text-decoration: none;
}
