/** Mobile-only Styles **/

@media screen and (max-width: 500px) {
    #banner {
        display: none;
    }
    #navbar {

        #brand {
            font-size: 110%;
        }
        #nav-list {
            display: none;

        }
    }
}
@media screen and (max-width: 800px) {
    #nav-collapse-btn {
        opacity: 1 !important;
    }
}
