/** Size/device specific master styles **/

// Mobile
@media screen and (max-width: $sizeSm) {
    body {
        font-size: 75%;
    }
    #navbar {
        #brand {
            font-size: 110%;
        }
        #nav-list {
            display: none;
        }
    }
    #nav-collapse-btn {
        opacity: 1 !important;
    }
}

// Tablet/Small monitor
@media screen and (min-width: $sizeMd) {
    body {
        font-size: 85%;
    }
}

// Large desktop
@media screen and (min-width: $sizeLg) {
    body {
        font-size: 100%;
    }
}
