/** Mobile-only Styles **/

@media screen and (max-width: 500px) {
    #banner {
        display: none;
        opacity: 0;
    }
}
@media screen and (max-width: 800px) {
    #nav-collapse-btn {
        opacity: 1 !important;
    }
}
