/** Global Variables **/

/* Colors */
$colorMain: #3949ab;
$colorSecondary: #f9aa39;
$colorLighter: #fff;
$colorLight: #fff;
$colorDark: #212121;

/* Fonts */
$fontMain: "Raleway", sans-serif;
$fontSecondary: "Montserrat", sans-serif;
