<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Questrial|Roboto|Ubuntu" rel="stylesheet">
    <meta name="author" content="Markus Moilanen">
    <title>Markus Moilanen - Portfolio</title>
</head>

<body>
    <div id="main"></div>
</body>
<script src="/app/bundle.js"></script>

</html>
