/*
Orange: #F9AA39
Blue: #59b4de
*/


body, html{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	max-width: 100%;
	overflow-x: hidden;
	position: relative;
	color: #343434;
}

body{
	/*
  background-image: url("../images/bg-right.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;*/
    margin:0;
    padding:0;
    font-size:100%;
    line-height: 1.6;

}

main {
	position: relative;
	background: white;
	z-index: 1;
}

p{
	line-height: 160%;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#brand img{
	margin-top: -8px;
	width:4em;
	margin-right: 1em;
	border-radius: 5px;
}

#brand div{
	font-family: 'Questrial', sans-serif;
	font-size: 220%;
	display:inline-block;
	font-weight: 600;
	font-variant: small-caps;
	margin-top: 4px;
}

#brand{
	border-top: none !important;
}

#markus{
	margin-right:5px;
}

#moilanen{
	color: #F9AA39;
}

.orange{
	color: #F9AA39;
}

.affix {
	top: 0;
	border-top:none;
}

.affix ~ .container-fluid {
     position: relative;
     top: 50px;
	 width: 100%;
  }
  
#nav-container{
	height: 90px;
	width: 100%;
}

#banner {
	background-color: rgba(254, 254, 254, 0);
    background-size: cover;
    background-repeat: no-repeat;
	width: 100%;
	
	/*margin-top: -120px;*/
}

.header{
	margin-top: 15vh;
	margin-left: 0;
}
.header-line{
	color: #444444;
	margin-top: 5vh;
	font-size: 450%;
	font-family: "Ubuntu", sans-serif;
	overflow: hidden;
	font-weight: 600;
	position: fixed;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

#line2{
	margin-top: 15vh;
}

a.no-style:hover, a.no-style:visited, a.no-style:active, a.no-style:link{
	color: #F9AA39 !important;
	text-decoration: none;
}

.headline{
	display: none;
	background-color: rgba(50,50,50,0.8);
	padding-bottom: 5em;
	-webkit-box-shadow: 0px -8px 18px 0px rgba(40,40,40,0.4),
								0px 8px 18px 0px rgba(51,51,51,0.4);
	-moz-box-shadow: 0px -8px 18px 0px rgba(40,40,40,0.4);
								-moz-box-shadow: 0px 8px 18px 0px rgba(51,51,51,0.4);
	box-shadow: 0px -8px 18px 0px rgba(40,40,40,0.4);
								box-shadow: 0px 8px 18px 0px rgba(51,51,51,0.4);
}

.banner-header{
	font-family: ubuntu;
	font-size:350%;
	color: white;	
	margin-top: 10vh;
}

.container-fluid{
	padding-top: 4em;
	padding-bottom: 4em;
}

nav{
	background-color: rgba(255,255,255,0.9);
}

.navbar, .navbar-inverse {
	height:90px;
	background-color: rgba(255,255,255,0.95);
	border: none;
	z-index:99999;
	width: 100%;
	-webkit-box-shadow: 0 3px 8px 0 rgba(40, 40, 40, 0.3), 
						   0 6px 20px 0 rgba(40, 40,40, 0.3);
    -moz-box-shadow: 0 3px 8px 0 rgba(40, 40, 40, 0.3), 
						0 6px 20px 0 rgba(40, 40, 40, 0.3);
	box-shadow: 0 3px 8px 0 rgba(40, 40, 40, 0.3), 
						   0 6px 20px 0 rgba(40, 40, 40, 0.3);
}

.navbar-nav li a {
	text-align: center;
    line-height: 3.5em;
    height: 90px;
	min-width: 6.5em;
	max-width: 50em;
	border-radius: 0.2em;
	color: #333 !important;
}

.link{
	font-family: 'Questrial', sans-serif;
	height: 90px;
	font-size: 130%;
	font-weight: 600;
	border-top: 3px transparent;
	border-radius: 1px !important;
}

.active a{
	background: none !important;
	border-top: 4px solid #F9AA39;
}
.active a div {
	margin-top: -4px;
}

h2,h3{
	/*#text-shadow: 4px 4px 6px rgba(100, 100, 100, 0.4);*/
	font-family: "Ubuntu", sans-serif;
	font-size: 320%;
	font-variant: small-caps;
	font-weight: 600;
	margin-bottom: 25px;
	text-shadow: 2px 2px 4px rgba(150, 150, 150, 0.8);
	border-bottom: 3px solid #F9AA39;
	padding-bottom: 10px;
}

h3{
	color: #f0f0f0;
}

/*p{
	font-size: 140%;
	text-shadow: 2px 2px 2px rgba(50, 50, 50, .2);
}*/

#about{
	/*#background-color: rgba(249, 170, 57, 0.9); ##F9AA39
	#background-color: rgba(255, 255, 255, 0.9);
	#color: white;	*/
	background: url("../images/hexabump.png");
	padding-bottom: 5em;
	-webkit-box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.4);
	position: relative;
	z-index: 99999;
	opacity: 1;
	max-height: auto;
	min-height: 0;
	height: 20px;
	width: auto;
	display: block;
}

#portfolio{
	margin-top: 10px;
	background-color: #efefef;
	z-index: 1;
}

.white-bg{
	background-color: white;
	color: #444;
	padding: 4em 0 4em 0;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
}

#footer:before{
    display:block;
    position: relative;
    width: 120%;
    height:45px;
	top: -21px;
	left: -15px;
   /* #background: linear-gradient(-45deg, transparent 66%, #efefef 66%) 0 50%,
                linear-gradient( 45deg, transparent 66%, #efefef 66%) 0 50%;*/
    background-repeat: repeat-x;
    background-size:45px 45px, 45px 45px;
}

#footer{
	padding-top: 0px;
	/*#background-color: #333;*/
	color: white;
	padding-bottom: 70px;
	padding-top: 1.5em;
	-webkit-box-shadow: 0px -6px 15px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px -6px 15px 0px rgba(0,0,0,0.4);
	box-shadow: 0px -6px 15px 0px rgba(0,0,0,0.4);
	background:
radial-gradient(#1f1f1f 15%, transparent 16%) 0 0,
radial-gradient(#1f1f1f 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;
text-shadow: 2px 3px 2px rgba(200, 200, 200, .7);
}

.footer-images{
	margin-bottom: 1em;
}

.footer-img img{
	width: 4.5em;
	height: auto;
	margin-top: 10px;
	border-radius: 120px;
	border: 4px solid #efefef; /* #59b4de */
	opacity: 1;
	background-color: #eee;
}

.footer-img:hover{
	cursor: pointer;
}

.transparent-white {
	background-color: rgba(255,255,255,1);
	background-color: rgba(255,255,255,0.95);
	border-radius: 2px;
	margin-bottom: 1em;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
	box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.35);
}

.transparent-white p{
	margin: 30px 20px;
	font-size: 140%;
}

.infobox {
	margin-right: 1.75em;
	margin-top: 0.5em;
}

#portrait{
	position: absolute;
	display: block;
	opacity: 1;
	margin-top:15em;
	max-width: 75%;
	min-width: 20%;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
	box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.35);
}

.lightbox{
	margin-top: 50px;
}

.clear{
	clear: both;
}






  #wrapper{
	position: relative;
	width:100%;
	min-height:38vw;
	overflow: hidden;
  }
  
  .layer{
	position: absolute;
	width:100vw;
	min-height: 38vw;
	overflow: hidden;
  }
  
  .layer .content-wrap{
	position: absolute;
	width:100vw;
	min-height: 55vw;
  }
  
  .layer .content-body{
	width:25%;
	position:absolute;
	top:50%;
	text-align: center;
	transform:translateY(-50%);
	color:#fff;
  }
  
  .layer img{
	position: absolute;
	width:35%;
	top:50%;
	left: 50%;
	transform:translate(-50%, -50%);
  }
  
  .layer h1{
	font-size:2em;
  }
  
  .bottom{
	background:#222;
	z-index:1;
  }
  
  .bottom .content-body{
	right:5%;
  }
  
  .bottom h1{
	color:#FDAB00;
  }
  
  .top{
	background:#eee;
	color:#222;
	z-index:2;
	width:50vw;
  }
  
  .top .content-body{
	left: 5%;
	color:#222;
  }
  
  .handle{
	position: absolute;
	height: 100%;
	display: block;
	background-color: #FDAB00;
	width:5px;
	top:0;
	left: 50%;
	z-index:3;
  }
  
  .skewed .handle{
	top:50%;
	transform:rotate(30deg) translateY(-50%);
	height: 200%;
	transform-origin:top;
  }
  
  .skewed .top{
	transform: skew(-30deg);
	margin-left:-1000px;
	width: calc(50vw + 1000px);
  }
  
  .skewed .top .content-wrap{
	transform: skew(30deg);
	margin-left:1000px;
  }
  
  @media(max-width:768px){
	body{
	  font-size:75%;
	}
  }